doctype html
html
  head
    title Pug Client Templates
  body
    #otherResult(data-test=objTest)
    #templateResult
    pugtemplate from_within(ok)
      .within RECURSE: #{ok}
    pugtemplate quickTmp(testVar)
      .does
        .this
          .work OK - #{testVar}
          include included
          +from_within(testVar)
    pugtemplate tmpl.template2(one, ...two)
      .second Done #{one} OK #{JSON.stringify(two)}
    pugtemplate tmpl.template3(one, ...two)
      .third Third
    #result2
    #finalResult
    +quickTmp(objTest.testVar)
    +quickTmp('inline')
    - var codeObj = {testVar: 'fromCode'}
    +quickTmp(codeObj.testVar)
    +tmpl_template2('ok', '1', '2')
    +tmpl_template3('ok', '1', '2')
    pugruntime
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script.
      $(function() {
        debugger;
        $('#otherResult').text('jQuery is running');
        $('#templateResult').html(templates.quickTmp('Working'));
        $('#result2').html(tmpl.template2('ok2', 3, 4));
      });